{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-md-3">
		<div class="body-section mr-5 pr-2">
			<h4>Menu</h4>
{#			<p class='text-muted'>You can put any information here you'd like.#}
				<ul class="list-group">
					<a href="{{ url_for('panel') }}" class="list-group-item list-group-item-light list-group-item-action">Grupy Studenckie</a>
					<a href="{{ url_for('create_group') }}" class="list-group-item list-group-item-light list-group-item-action">Dodaj Grupę</a>
					<a href="#" class="list-group-item list-group-item-light list-group-item-action">Ustal Terminy</a>
					<a href="#" class="list-group-item list-group-item-light list-group-item-action">Przegląd Projektów</a>
				</ul>
{#			</p>#}
		</div>
	</div>

	<div class="col-md-9">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock body %}