{% extends "admin/layout_admin.html" %}
{% block content %}
    {% if group.rating_status == 'disabled' %}
        <div class="jumbotron">
              <p class="lead">{{ gettext('Możliwość oceniania jest w tym momencie wyłączona.') }}</p>
        </div>
    {% elif group.rating_status == 'ended' %}
        <div class="jumbotron">
              <p class="lead">{{ gettext('Ocenianie zostało zakończone. Możesz zobaczyć') }} <a href="{{ url_for('main.results') }}">{{ gettext('wyniki') }}</a>.</p>
        </div>
    {% elif group.rating_status == 'enabled' and current_user.did_rate %}
        <div class="jumbotron">
            <p class="lead">{{ gettext('Projekty zostały przez ciebie ocenione. Kiedy ocenianie się zakończy będzie można zobaczyć wyniki w zakładce') }} <a href="{{ url_for('main.results') }}">{{ gettext('wyniki końcowe') }}</a>.</p>
        </div>
    {% elif group.rating_status == 'enabled' and not current_user.did_rate %}
        <div class="jumbotron">
          <p class="lead">{{ gettext('Całkowita liczba punktów do rozdania wynosi') }} <b id="points_to_give">{{ group.points_per_user }}</b>. {{ gettext('Możesz je rozdać dowolnie') }}.</p>
        </div>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            {% for project in group_projects %}
                <div class="card mb-3 mx-auto" style="max-width: 720px;">
                  <div class="row no-gutters">
                    <div class="col-md-4 border-bottom">
                        <a href="{{ url_for('static', filename='projects/' + project.upload_file) }} " target="_blank">
                            {% set extension = project.upload_file.split('.') %}
                            {% if extension[1] == 'pdf' %}
                                <img src="{{ url_for('static', filename='default_pdf_icon.png') }}" class="card-img" alt="PDF">
                            {% else %}
                                <img src="{{ url_for('static', filename='projects/' + project.upload_file) }}" class="card-img" alt="Grafika">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-8 border-left">
                      <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        {% if project.optional_link %}
                            <p class="blockquote-footer mt-5"><a class="text-secondary" href="{{ project.optional_link }}" target="_blank" title="{{ project.optional_link }}">{{ gettext('Dodatkowy załącznik') }}<i class="fa fa-external-link fa-lg text-info ml-1"></i></a> </p>
                        {% endif %}

                        {{ form.all_points[loop.index0].hidden_tag() }}

                        {% if form.all_points[loop.index0].points.errors %}
                            <div class="form-group mb-0 mt-3">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend input-group-sm">
                                        {{ form.all_points[loop.index0].points.label(class="input-group-text") }}
                                        {{ form.all_points[loop.index0].points(class="form-control form-control-lg is-invalid") }}
                                    </div>
                                </div>

                                <div class="invalid-feedback d-block">
                                    {% for error in form.all_points[loop.index0].points.errors %}
                                        <span class="d-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group custom-card-footer-points mt-3">
                                <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-sm">
                                            {{ form.all_points[loop.index0].points.label(class="input-group-text") }}
                                            {{ form.all_points[loop.index0].points(class="form-control", onfocus="clear_if_zero(this)") }}
                                        </div>
                                </div>
                            </div>
                        {% endif %}

                      </div>
                    </div>
                  </div>
                </div>

            {% endfor %}

            <div class="sum text-center">
                <output id="output-text"></output>
                <output id="result"></output>
            </div>

            {{ form.submit(class="btn btn-info btn-block mb-1") }}

        </form>

    {% endif %}

{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type=text/javascript>

        function clear_if_zero(input) {
            if (input.value <= 0 )
            {
                input.value = ''
            }
        }
    </script>

{% endblock scripts%}