{% extends "admin/layout_admin.html" %}
{% block content %}
	<div>
        {% if groups %}
            <table class="table text-center align-middle">
                <thead>
                    <tr>
                        <th scope="col">Grupa</th>
                        <th scope="col">Liczba sekcji</th>
                        <th scope="col">Termin oddania prac</th>
                        <th scope="col">Ocenianie</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>
                            <a class="text-decoration-none" href="{{ url_for('admin.sections', group_id=group.id) }}">
                                <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Sekcje i użytkownicy"> {{ group.name }} ({{ group.subject }}) </button>
                            </a>
                            <span data-toggle="tooltip" data-placement="top" title="Edytuj nazwę">
                                <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" data-group-id={{ group.id }} data-group-name="{{ group.name }}" data-group-subject="{{ group.subject }}">
                                    <i class="fa fa-edit fa-lg"></i>
                                </button>
                            </span>
                        </td>
                        <td> {{ group.users.__len__() }} </td>
                        <td>
                            <span>{{ group.upload_time.strftime('%d-%m-%Y, %H:%M') if group.upload_time else '--------------------' }}</span>
                            <span data-toggle="tooltip" data-placement="top" title="Ustaw termin">
                                <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#dateTimeModal" data-group-id={{ group.id }} data-time={{ group.upload_time.strftime('%Y-%m-%dT%H:%M') if group.upload_time else pass}}>
                                    <i class="fa fa-clock-o fa-lg"></i>
                                </button>
                            </span>
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="Ustaw ocenianie/punkty">
                                {% if group.rating_status == 'enabled' %}
                                    <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#ratingOptionsModal-{{ group.id }}">Włączone</button>
                                {% elif group.rating_status == 'disabled' %}
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#ratingOptionsModal-{{ group.id }}">Wyłączone</button>
                                {% else %}
                                    <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#ratingOptionsModal-{{ group.id }}">Zakończone</button>
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="Usuń grupę">
                                <i class="fa fa-trash-o fa-xlg text-danger hover-pointer" data-toggle="modal" data-target="#deleteModal-{{ group.id }}"></i>
                            </span>
                        </td>
                    </tr>

{#                        Rating Modal#}
                    <div class="modal fade" id="ratingOptionsModal-{{ group.id }}" tabindex="-1" role="dialog" aria-labelledby="ratingOptionsModalLabel-{{ group.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form name="ratingOptionsForm" method="POST" action="" novalidate>
                              {{ set_rating_form.csrf_token() }}
                              <div class="modal-header">
                                <h5 class="modal-title" id="ratingOptionsModalLabel-{{ group.id }}">Włącz możliwość oceny projektów przez studentów</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>

                              <div class="modal-body">
                                <fieldset>
                                    <div class="form-group">
                                        {{ set_rating_form.rating_status.label(class="form-control-label") }}

                                        {% if set_rating_form.rating_status.errors %}
                                            {{ set_rating_form.rating_status(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in set_rating_form.rating_status.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}

                                            {% if group.rating_status == 'enabled' %}
                                                {% set _ = set_rating_form.rating_status.process_data('enabled') %}
                                            {% elif group.rating_status == 'disabled' %}
                                                {% set _ = set_rating_form.rating_status.process_data('disabled') %}
                                            {% else %}
                                                {% set _ = set_rating_form.rating_status.process_data('ended') %}
                                            {% endif %}

                                            {{ set_rating_form.rating_status(class="form-control form-control-lg") }}


                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        {{ set_rating_form.points.label(class="form-control-label") }}

                                        {% if set_rating_form.points.errors %}
                                            <div class="input-group">
                                                {{ set_rating_form.points(class="form-control form-control-lg is-invalid", value=group.points_per_user, id='points-'+group.id|string()) }}
                                                <button type="button" class="btn btn-outline-dark generate-button" data-toggle="tooltip" data-placement="top" title="<liczba-sekcji> - 5" onclick="generatePoints({{ group.users|length }}, {{ group.id }})">Wygeneruj</button>
                                            </div>
                                            <div class="invalid-feedback">
                                                {% for error in set_rating_form.points.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <div class="input-group">
                                                {{ set_rating_form.points(class="form-control form-control-lg", value=group.points_per_user, id='points-'+group.id|string()) }}
                                                <button type="button" class="btn btn-outline-dark generate-button" data-toggle="tooltip" data-placement="top" title="<liczba-sekcji> - 5" onclick="generatePoints({{ group.users|length }}, {{ group.id }})">Wygeneruj</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {{ set_rating_form.selected_group_id(value = group.id) }}

                                </fieldset>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                {{ set_rating_form.submitRating(class="btn btn-primary") }}
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

{#                    delete group Modal#}
                    <div class="modal fade" id="deleteModal-{{ group.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-{{ group.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel-{{ group.id }}">Uwaga!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              Czy na pewno chcesz usunąć tę grupę ? Spowoduje to usunięcie wszystkich projektów udostępnionych przez należące do niej sekcje!
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                              <form action="{{ url_for('admin.delete_group', group_id=group.id) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Usuń" >
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>

                {% endfor %}
            </tbody>
            </table>
        {% else %}
            <div class="panel panel-default">
                <div class="jumbotron">
                  <h4>Aktualnie w bazie nie ma żadnych grup.</h4>
                  <hr class="my-4">
                  <p class="lead">Kliknij <a href="{{ url_for('admin.create_group') }}">tutaj</a>, aby utworzyć nową grupę.</p>
                </div>
			</div>
        {% endif %}
	</div>

{#    Modals#}

    <div class="modal fade" id="dateTimeModal" tabindex="-1" role="dialog" aria-labelledby="dateTimeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="" novalidate>
              {{ set_upload_time_form.csrf_token() }}
              <div class="modal-header">
                <h5 class="modal-title" id="dateTimeModalLabel">Ustaw czas na udostępnianie prac</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        {{ set_upload_time_form.upload_time.label(class="form-control-label") }}

                        {% if set_upload_time_form.upload_time.errors %}
                            {{ set_upload_time_form.upload_time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in set_upload_time_form.upload_time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="group-time-wrapper">
                                {{ set_upload_time_form.upload_time(class="form-control form-control-lg", max="2100-06-30T16:30") }}
                            </div>
                        {% endif %}

                        <div class="group-id-wrapper">
                            {{ set_upload_time_form.selected_group_id }}
                        </div>
                    </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                {{ set_upload_time_form.submitTime(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="" novalidate>
              {{ set_upload_time_form.csrf_token() }}
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Zmień nazwę grupy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <fieldset>
                        <div class="form-group">
                            {{ group_name_form.name.label(class="form-control-label") }}

                            {% if group_name_form.name.errors %}
                                {{ group_name_form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in group_name_form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="group-name-wrapper">
                                    {{ group_name_form.name(class="form-control form-control-lg", value='') }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ group_name_form.subject.label(class="form-control-label") }}

                            {% if group_name_form.subject.errors %}
                                {{ group_name_form.subject(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in group_name_form.subject.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="group-subject-wrapper">
                                    {{ group_name_form.subject(class="form-control form-control-lg", value='') }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="group-id-wrapper">
                            {{ group_name_form.selected_group_id }}
                        </div>

                  </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                {{ group_name_form.submitName(class="btn btn-primary") }}
              </div>
            </form>
        </div>
      </div>
    </div>


{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type=text/javascript>

        $('#dateTimeModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var groupid = button.data('group-id') // Extract info from data-* attributes
          var time = button.data('time')
          var modal = $(this)
          modal.find('.group-id-wrapper input').val(groupid)
          document.getElementById("upload_time").value = time
        })

        $('#editModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var groupid = button.data('group-id') // Extract info from data-* attributes
          var groupname = button.data('group-name')
          var groupsubject = button.data('group-subject')
          var modal = $(this)
          modal.find('.group-id-wrapper input').val(groupid)
          modal.find('.group-name-wrapper input').val(groupname)
          modal.find('.group-subject-wrapper input').val(groupsubject)
        })


        function generatePoints(number_of_sections, group_id) {
            var points_to_set = number_of_sections-5
            document.getElementById("points-"+group_id).value = points_to_set;
        }

    </script>

{% endblock scripts%}