{% extends "admin/layout_admin.html" %}
{% block content %}
	<div>

        {% if groups %}
            <table class="table text-center align-middle">
                <thead>
                    <tr>
                        <th scope="col">Grupa</th>
                        <th scope="col">Liczba sekcji</th>
                        <th>Termin oddania prac</th>
                        <th>Ocenianie</th>
                        <th>Projekty</th>
                        <th>Loginy</th>
                        <th>&nbspWyniki&nbsp</th>
                    </tr>
                </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td> <a href="{{ url_for('admin.sections', group_id=group.id) }}">
                            <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Sekcje i użytkownicy"> {{ group.name }} ({{ group.subject }}) </button> </a>
                        </td>
                        <td> {{ group.users.__len__() }} </td>
                        <td>{% if group.upload_time %}
                                {{ group.upload_time.strftime('%d-%m-%Y, %H:%M') }}
                            {% else %}
                                --------------------
                            {% endif %}
                        </td>
                        <td>
                            {% if group.rating_status == 'enabled' %}
                                <span class="text-info"> Włączone </span>
                            {% elif group.rating_status == 'disabled'%}
                                <span class="text-danger"> Wyłączone </span>
                            {% else %}
                                <span class="text-success"> Zakończone </span>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ url_for('admin.projects', group_id=group.id) }}">
                                <i class="fa fa-copy fa-xlg text-info" data-toggle="tooltip" data-placement="top" title="Projekty tej grupy">
                                    {{ group.users|selectattr('project')|list|length }}
                                </i>
                            </a>
                        </td>
                        <td> <a href="{{ url_for('admin.generate_csv', group_id=group.id) }}">
                            <i class="fa fa-download fa-xlg text-success" data-toggle="tooltip" data-placement="top" title="Plik CSV z kluczami dostępu"></i></a>
                        </td>
                        <td>
                            {% if group.rating_status == 'ended' %}
                                <a href="{{ url_for('main.results', group_id=group.id) }}" class="text-decoration-none"> <i class="fa fa-poll fa-xlg text-info mr-2" data-toggle="tooltip" data-placement="top" title="Wyniki oceniania"></i> </a>
                                <a href="{{ url_for('admin.results_csv', group_id=group.id) }}"> <i class="fa fa-arrow-down fa-xlg text-success" data-toggle="tooltip" data-placement="top" title="Plik CSV z wynikami"></i> </a>
                            {% else %}
                                <i class="fa fa-poll fa-xlg text-secondary mr-2" data-toggle="tooltip" data-placement="top" title="Opcja zablokowana do zakończenia oceniania"></i>
                                <i class="fa fa-arrow-down fa-xlg text-secondary" data-toggle="tooltip" data-placement="top" title="Opcja zablokowana do zakończenia oceniania"></i>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% else %}
            <div class="panel panel-default">
                <div class="jumbotron">
                  <h4>Aktualnie w bazie nie ma żadnych grup.</h4>
                  <hr class="my-4">
                  <p class="lead">Kliknij <a href="{{ url_for('admin.create_group') }}">tutaj</a>, aby utworzyć nową grupę.</p>
                </div>
			</div>
        {% endif %}
	</div>

{% endblock content %}
