{% extends "admin/layout_admin.html" %}
{% block content %}

    {% if projects|length %}
        Udostępnione projekty: {{ projects|length }}/{{number_of_sections}} </br>

        {% for project in projects %}
            <article class="media body-section">
                <div class="media-body">
                    <h2><a class="article-title" href="{{ url_for('single_project', section_id=project.user_id) }}">{{ project.title }}</a></h2>
                    <img class="" src="{{ url_for('static', filename='projects/' + project.image_file) }}">
                    <p class="article-body">{{ project.description }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        Żadna z sekcji nie udostępniła jeszcze projektu.
    {% endif %}

{% endblock content %}