{% extends "admin/layout_admin.html" %}
{% block content %}

    {% if projects|length %}
        <h6 class="mb-3 lead">{{ gettext('Udostępnione projekty:') }} <b> {{ projects|length }}/{{number_of_sections}} </b></h6>

        {% for project in projects %}
              <div class="card mb-3 mx-auto" style="max-width: 720px;">
                  <div class="card-header py-2">
                    <span class="align-middle">{{ gettext('Sekcja nr') }} {{ project.author.section_number }}.</span>
                    {% if project.upload_file_improvement and (group.rating_status == 'disabled_improvement' or group.rating_status == 'enabled_improvement' or group.rating_status == 'ended_improvement') %}
                      <span class="align-middle text-success">{{ gettext('Ta sekcja poprawiła projekt') }}</span>
                      <a target="_blank" href=" {{ url_for('static', filename='projects/' + project.upload_file) }} "> <button type="button" class="btn btn-sm btn-outline-secondary float-right" data-toggle="tooltip" data-placement="top" title="{{ gettext('Wersja z przed poprawy') }}">{{ gettext('Poprzednia wersja') }} <i class="fas fa-external-link-alt"></i></button> </a>
                    {% endif %}
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-4 border-bottom">
                      {% if project.upload_file_improvement and (group.rating_status == 'disabled_improvement' or group.rating_status == 'enabled_improvement' or group.rating_status == 'ended_improvement') %}
                        <a href="{{ url_for('static', filename='projects/' + project.upload_file_improvement) }} " target="_blank">
                            {% set extension = project.upload_file_improvement.split('.') %}
                            {% if extension[1] == 'pdf' %}
                                <img src="{{ url_for('static', filename='default_pdf_icon.png') }}" class="card-img" alt="{{ gettext('PDF') }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='projects/' + project.upload_file_improvement) }}" class="card-img" alt="{{ gettext('Grafika') }}">
                            {% endif %}
                        </a>
                      {% else %}
                        <a href="{{ url_for('static', filename='projects/' + project.upload_file) }} " target="_blank">
                            {% set extension = project.upload_file.split('.') %}
                            {% if extension[1] == 'pdf' %}
                                <img src="{{ url_for('static', filename='default_pdf_icon.png') }}" class="card-img" alt="{{ gettext('PDF') }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='projects/' + project.upload_file) }}" class="card-img" alt="{{ gettext('Grafika') }}">
                            {% endif %}
                        </a>
                      {% endif %}
                    </div>
                    <div class="col-md-8 border-left">
                      <div class="card-body">
                        {% if project.upload_file_improvement and (group.rating_status == 'disabled_improvement' or group.rating_status == 'enabled_improvement' or group.rating_status == 'ended_improvement') %}
                          <h5 class="card-title">{{ project.title_improvement }} <br/><br/></h5>
                          <p class="card-text">{{ project.description_improvement }}</p>
                          {% if project.optional_link_improvement %}
                              <p class="blockquote-footer"><a class="text-secondary" href="{{ project.optional_link_improvement }}" target="_blank" title="{{ project.optional_link_improvement }}">{{ gettext('Dodatkowy załącznik') }}<i class="fa fa-external-link fa-lg text-info ml-1"></i></a> </p> <br/><br/>
                          {% endif %}
                        {% else %}
                          <h5 class="card-title">{{ project.title }} <br/><br/></h5>
                          <p class="card-text">{{ project.description }}</p>
                          {% if project.optional_link %}
                              <p class="blockquote-footer"><a class="text-secondary" href="{{ project.optional_link }}" target="_blank" title="{{ project.optional_link }}">{{ gettext('Dodatkowy załącznik') }}<i class="fa fa-external-link fa-lg text-info ml-1"></i></a> </p> <br/><br/>
                          {% endif %}
                        {% endif %}
                        <p class="card-text custom-card-footer">
                          {% if project.date_posted_improvement and (group.rating_status == 'disabled_improvement' or group.rating_status == 'enabled_improvement' or group.rating_status == 'ended_improvement') %}
                            <small class="text-muted">{{ gettext('Ostatnia edycja:') }} <span><b> {{ project.date_posted_improvement.strftime('%d-%m-%Y') }} </b> {{ gettext('o godz.') }} <b> {{ project.date_posted_improvement.strftime('%H:%M') }}</b></span></small>
                          {% else %}
                            {% if project.author.group.upload_time and project.date_posted < project.author.group.upload_time %}
                                <small class="text-muted">{{ gettext('Ostatnia edycja:') }} <span class="text-success"><b> {{ project.date_posted.strftime('%d-%m-%Y') }} </b> {{ gettext('o godz.') }} <b> {{ project.date_posted.strftime('%H:%M') }}</b></span></small>
                            {% elif not project.author.group.upload_time %}
                                <small class="text-muted">{{ gettext('Ostatnia edycja:') }} <span><b> {{ project.date_posted.strftime('%d-%m-%Y') }} </b> {{ gettext('o godz.') }} <b> {{ project.date_posted.strftime('%H:%M') }}</b></span></small>
                            {% else %}
                                <small class="text-muted">{{ gettext('Ostatnia edycja:') }} <span class="text-danger"><b> {{ project.date_posted.strftime('%d-%m-%Y') }} </b> {{ gettext('o godz.') }} <b> {{ project.date_posted.strftime('%H:%M') }}</b></span></small>
                            {% endif %}
                          {% endif %}
                        </p>

                        <p class="card-text custom-card-footer">
                            {% if project.last_editor %}
                                <small class="text-muted">{{ gettext('z ip:') }} {{ project.last_editor }} </small>
                            {% else %}
                                <small class="text-muted"> {{ gettext('z ip: (nieznane)') }} </small>
                            {% endif %}
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
        {% endfor %}
    {% else %}
        <div class="jumbotron">
          <p class="lead">{{ gettext('Żadna z sekcji nie udostępniła jeszcze projektu.') }}</p>
        </div>
    {% endif %}

{% endblock content %}
