body {
    padding-top: 70px; /* from fixed-top nav bar */
}

/*
.container img
{
	width: 100%;
	height: auto;
}
*/
.media-body img
{
	width: 300px;
	height: 300px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.border-thick
{
    border-width: 2px !important;
    border-color: #30799B !important;
}

.table th
{
    border: none;
}


@media(min-width: 575px)
{
    .custom-card-footer
    {
        position:absolute;
        right:10px;
        bottom:10px;
    }

    .custom-card-footer-points
    {
        position:absolute;
        left:20px;
        bottom:10px;
    }
}

.input-group.is-invalid invalid-feedback {
    display: block;
  }

/*#card-footer*/
/*{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    margin-bottom: 10px;*/
/*    right: 10px;*/
/*}*/