body {
    padding-top: 70px; /* from fixed-top nav bar */
    background-image: url("white_wall.png"); /* Background pattern from Toptal Subtle Patterns */
}

.media-body img
{
	width: 300px;
	height: 300px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.border-thick
{
    border-width: 2px !important;
    border-color: #30799B !important;
}

.table th
{
    border: none;
}

@media(min-width: 575px)
{
    .custom-card-footer
    {
        position:absolute;
        right:10px;
        bottom:10px;
    }

    .custom-card-footer-points
    {
        /*position:absolute;*/
        left:20px;
        bottom:10px;
    }

    /*.custom-card-footer-points-error*/
    /*{*/
    /*    position:absolute;*/
    /*    left:20px;*/
    /*    top:10px;*/
    /*    bottom:10px;*/
    /*}*/
}

.table-row-hover:hover
{
    cursor: pointer;
}

.hover-pointer
{
    cursor: pointer;
}

.fa
{
    opacity: 1;
    transition: 0.2s;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-xlg
{
    font-size: 1.6em;
}

.fa-xlg:hover
{
    font-size: 1.8em;
}

.fa-xlg-static
{
    font-size: 1.6em;
}
