body {
    padding-top: 70px; /* from fixed-top nav bar */
}

/*
.container img
{
	width: 100%;
	height: auto;
}
*/
.media-body img
{
	width: 300px;
	height: 300px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}