{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-md-3">
		<div class="body-section mr-5 mb-5 pr-2">
			<h4>Menu</h4>
				<ul class="list-group">
                    <a href="{{ url_for('main.project_view') }}" class="list-group-item list-group-item-light list-group-item-action">Podgląd projektu</a>
                    <a href="{{ url_for('users.rating') }}" class="list-group-item list-group-item-light list-group-item-action">Oceń projekty</a>
                    <a href="{{ url_for('main.results') }} " class="list-group-item list-group-item-light list-group-item-action">Wyniki końcowe</a>
				</ul>
		</div>
	</div>

	<div class="col-md-8">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock body%}