{% extends "layout.html" %}
{% block body %}
<div class="row">
	<div class="col-md-3">
		<div class="body-section mr-5 pr-2">
			<h4>Menu</h4>
				<ul class="list-group">
                    {% if not current_user.project %}
					    <a href="{{ url_for('project') }}" class="list-group-item list-group-item-light list-group-item-action">Dodaj Projekt</a>
                    {% else %}
                        <a href="{{ url_for('project_view') }}" class="list-group-item list-group-item-light list-group-item-action">Podgląd projektu</a>
					    <a href="{{ url_for('update_project') }}" class="list-group-item list-group-item-light list-group-item-action">Edytuj Projekt</a>
                    {% endif %}
					<a href="#" class="list-group-item list-group-item-light list-group-item-action">Ocenianie</a>
					<a href="#" class="list-group-item list-group-item-light list-group-item-action">Wyniki</a>
				</ul>
		</div>
	</div>

	<div class="col-md-8">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock body%}