{% extends "layout_section.html" %}
{% block content %}
    {% if current_user.group.rating_status == 'disabled' or current_user.group.rating_status == 'disabled_improvement'%}
        {% if current_user.group.upload_time %}
            <h6 class="mb-3 lead">{{ gettext('Termin na udostępnienie projektu:') }} <b>{{ current_user.group.upload_time.strftime('%d-%m-%Y, %H:%M') }}</b> </h6>
        {% else %}
            <h6 class="mb-3 lead">{{ gettext('Termin na udostępnienie projektu:') }} <b> {{ gettext('nie wyznaczono') }} </b></h6>
        {% endif %}

        {% if group.rating_status == 'disabled_improvement' %}
          <div class="jumbotron p-3 mb-5">
            <h3 class="text-info">
              {{ gettext('Poprawa projektu') }}
            </h3>
          </div>
        {% endif %}

        <div class="body-section">
            <form method="POST" action="" novalidate enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>

                    <legend class="border-bottom">{{ legend }}</legend>

                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}

                        {% if form.title.errors %}
                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.file.label() }}
                        {{ form.file(class='form-control-file') }}
                        {% if form.file.errors %}
                            {% for error in form.file.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.description.label(class="form-control-label") }}

                        {% if form.description.errors %}
                            {{ form.description(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.description(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    {% if legend == gettext('Dodaj projekt')  %}
                        <div class="form-group">
                            {{ form.creators_num.label(class="form-control-label") }}

                            {% if form.creators_num.errors %}
                                {{ form.creators_num(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.creators_num.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.creators_num(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {{ form.url.label(class="form-control-label") }}

                        {% if form.url.errors %}
                            {{ form.url(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.url.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.url(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>

                    <div class="form-group mt-3">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
            </form>
        </div>

        {% if not group.rating_status == 'disabled' and not group.rating_status == 'enabled' %}
          <hr class="mt-5 mb-5">
          <div class="card-header">
              {{ gettext('Sekcja nr') }} {{ project.author.section_number }} {{ gettext('zdobyła') }}:<br>
              <li><b> {{ project.score_points_pool }} {{ gettext('pkt') }} </b> {{ gettext('od użytkowników oceniających metodą pierwszą') }},</li>
              <li><b> {{ project.score_points_pool_shuffled }} {{ gettext('pkt') }} </b> {{ gettext('od użytkowników oceniających metodą drugą') }},</li>
              <li><b> {{ (project.score_pool_per_project/raters_pool_per_project_num)|round(2) }}/{{ project.author.group.points_per_project }} {{ gettext('pkt') }} </b> {{ gettext('od użytkowników oceniających metodą trzecią') }},</li>
              <li class="text-info"><b> {{ project.score_admin }}/{{ project.author.group.points_per_project }} {{ gettext('pkt') }} </b> {{ gettext('od nauczyciela') }}.</li>
              {% if project.upload_file_improvement and (group.rating_status == 'disabled_improvement' or group.rating_status == 'enabled_improvement' or group.rating_status == 'ended_improvement') %}
                <li class="text-success"><b> {{ project.score_admin_improvement }}/{{ group.points_per_project }} {{ gettext('pkt') }} </b> {{ gettext('od nauczyciela po poprawie projektu') }}.</li>
              {% endif %}
              {% if project.user_distinctions > 0%}
                <li>{{ gettext('Ten projekt został wyróżniony przez studentów') }}. {{ gettext('Liczba wyróżnień to') }}: {{ project.user_distinctions }}<i class="fas fa-heart icon-color-red"></i>.</li>
              {% endif %}
              {% if project.admin_distinction > 0%}
                <li>{{ gettext('Ten projekt został wyróżniony przez nauczyciela') }}<i class="fas fa-heart icon-color-red"></i>.</li>
              {% endif %}
          </div>

          <!--Comments-->
          <div id="accordion">
            <!--First card-->
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne-{{ project.id }}" aria-expanded="false" aria-controls="collapseOne">
                    {{ gettext('Komentarze od nauczyciela') }}
                    <i class="fa fa-lg" aria-hidden="true"></i>
                    {% if group.rating_status == 'ended_improvement' %}
                      {% for comment in project.comments if comment.author.is_admin and comment.second_iteration %}
                        <span class="badge badge-pill badge-info">{{ gettext('Nowy') }}</span>
                      {% endfor %}
                    {% endif %}
                  </button>
                </h5>
              </div>

              <div id="collapseOne-{{ project.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">

                  {% if group.rating_status == 'ended_improvement' %}
                    {% for comment in project.comments %}
                      {% if comment.author.is_admin and comment.second_iteration %}
                        <div class="card mb-2">
                          <div class="card-header">
                            {{ gettext('Komentarz do poprawionej pracy') }}
                          </div>
                          <div class="card-body">
                            <li> {{ comment.comment_wish }} </li>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <div class="card mb-2">
                    <div class="card-header">
                      <i class="fas fa-star icon-color-gold"></i>
                      {{ gettext('Pozytywne cechy pracy') }}
                    </div>
                    <div class="card-body">
                      {% for comment in project.comments %}
                        {% if comment.author.is_admin and not comment.second_iteration %}
                          <li> {{ comment.comment_star_1 }} </li>
                          <li> {{ comment.comment_star_2 }} </li>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header">
                      <i class="fas fa-magic icon-color-blue"></i>
                      {{ gettext('Rzecz, którą można poprawić') }}
                    </div>
                    <div class="card-body">
                      {% for comment in project.comments %}
                        {% if comment.author.is_admin and not comment.second_iteration %}
                          <li> {{ comment.comment_wish }} </li>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Second card-->
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo-{{ project.id }}" aria-expanded="false" aria-controls="collapseTwo">
                    Komentarze od studentów
                    <i class="fa fa-lg" aria-hidden="true"></i>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo-{{ project.id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="card mb-2">
                    <div class="card-header">
                      <i class="fas fa-star icon-color-gold"></i>
                      {{ gettext('Pozytywne cechy pracy') }}
                    </div>
                    <div class="card-body">
                      {% for comment in project.comments %}
                        {% if not comment.author.is_admin %}
                          <li> {{ comment.comment_star_1 }} </li>
                          <li> {{ comment.comment_star_2 }} </li>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <i class="fas fa-magic icon-color-blue"></i>
                      {{ gettext('Rzeczy, które można poprawić') }}
                    </div>
                    <div class="card-body">
                      {% for comment in project.comments %}
                        {% if not comment.author.is_admin %}
                          <li> {{ comment.comment_wish }} </li>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
    {% else %}

        <div class="jumbotron">
          <h4>{{ gettext('Ocenianie zostało rozpoczęte. Nie można już dodać/edytować projektu.') }}</h4>
          <hr class="my-4">
          <p class="lead">{{ gettext('Aby wziąć udział w głosowaniu zaloguj się za pomocą klucza do oceniania dostępnym') }} <a href="{{ url_for('users.access_keys') }}">{{ gettext('tutaj') }}</a> </p>
        </div>

    {% endif %}
{% endblock content %}