{% if current_user.is_admin %}
    {% extends "admin/layout_admin.html" %}
{% elif current_user.group.is_containing_sections%}
    {% extends "layout_section.html" %}
{% else %}
    {% extends "layout_user.html" %}
{% endif %}
{% block content %}

    {% if current_user.is_admin %}
        <a href="{{ url_for('admin.sections', group_id=project.author.group.id) }}"> <button type="button" class="btn btn-light mb-4">&laquo; {{ gettext('Powrót') }}</button> </a>
    {% else %}
        {% if project.author.group.upload_time %}
            <h6 class="mb-3 lead">{{ gettext('Termin na udostępnienie projektu:') }} <b>{{ project.author.group.upload_time.strftime('%d-%m-%Y, %H:%M') }}</b> </h6>
        {% else %}
            <h6 class="mb-3 lead">{{ gettext('Termin na udostępnienie projektu: nie wyznaczono') }}</h6>
        {% endif %}
    {% endif %}

    {% if project %}

      <div class="card mb-3 mx-auto" style="max-width: 720px;">
          <div class="card-header">
              {{ gettext('Sekcja nr') }} {{ project.author.section_number }}
          </div>
          <div class="row no-gutters">
            <div class="col-md-4 border-bottom">
                <a href="{{ url_for('static', filename='projects/' + project.upload_file) }} " target="_blank">
                    {% set extension = project.upload_file.split('.') %}
                    {% if extension[1] == 'pdf' %}
                        <img src="{{ url_for('static', filename='default_pdf_icon.png') }}" class="card-img" alt="{{ gettext('PDF') }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='projects/' + project.upload_file) }}" class="card-img" alt="{{ gettext('Grafika') }}">
                    {% endif %}
                </a>
            </div>
            <div class="col-md-8 border-left">
              <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                  <p class="card-text">{{ project.description }} <br/><br/> </p>
                {% if project.optional_link %}
                    <p class="blockquote-footer"> <a class="text-secondary" href="{{ project.optional_link }}" target="_blank" title="{{ project.optional_link }}">{{ gettext('Dodatkowy załącznik') }}<i class="fa fa-external-link fa-lg text-info ml-1"></i></a> </p> <br/><br/>
                {% endif %}
                <p class="card-text custom-card-footer">
                    {% if project.author.group.upload_time and project.date_posted < project.author.group.upload_time %}
                        <small class="text-muted">{{ gettext('Ostatnia edycja:') }} <span class="text-success"><b> {{ project.date_posted.strftime('%d-%m-%Y') }} </b> {{ gettext('o godz.') }} <b> {{ project.date_posted.strftime('%H:%M') }}</b></span></small>
                    {% elif not project.author.group.upload_time %}
                        <small class="text-muted">{{ gettext('Ostatnia edycja:') }} <span><b> {{ project.date_posted.strftime('%d-%m-%Y') }} </b> {{ gettext('o godz.') }} <b> {{ project.date_posted.strftime('%H:%M') }}</b></span></small>
                    {% else %}
                        <small class="text-muted">{{ gettext('Ostatnia edycja:') }} <span class="text-danger"><b> {{ project.date_posted.strftime('%d-%m-%Y') }} </b> {{ gettext('o godz.') }} <b> {{ project.date_posted.strftime('%H:%M') }}</b></span></small>
                    {% endif %}
                </p>

                <p class="card-text custom-card-footer">
                    {% if project.last_editor %}
                        <small class="text-muted">{{ gettext('z ip:') }} {{ project.last_editor }} </small>
                    {% else %}
                        <small class="text-muted"> {{ gettext('z ip: (nieznane)') }}</small>
                    {% endif %}
                </p>
              </div>
            </div>
          </div>
          {% if not group.rating_status == 'disabled' and not group.rating_status == 'enabled'%}
            <div class="card-header">
              {{ gettext('Sekcja nr') }} {{ project.author.section_number }} {{ gettext('zdobyła') }}:<br>
              <li><b> {{ project.score_points_pool }} {{ gettext('pkt') }} </b> {{ gettext('od użytkowników oceniających metodą pierwszą') }},</li>
              <li><b> {{ project.score_points_pool_shuffled }} {{ gettext('pkt') }} </b> {{ gettext('od użytkowników oceniających metodą drugą') }},</li>
              <li><b> {{ (project.score_pool_per_project/raters_pool_per_project_num)|round(2) }}/{{ project.author.group.points_per_project }} {{ gettext('pkt') }} </b> {{ gettext('od użytkowników oceniających metodą trzecią') }},</li>
              <li class="text-info"><b> {{ project.score_admin }}/{{ project.author.group.points_per_project }} {{ gettext('pkt') }} </b> {{ gettext('od nauczyciela') }}.</li>
              {% if group.admin_rating_status == 'finished_improvement' %}
                <li class="text-success"><b> {{ project.score_admin_improvement }}/{{ group.points_per_project }} {{ gettext('pkt') }} </b> {{ gettext('od nauczyciela po poprawie projektu') }}.</li>
              {% endif %}
              {% if project.user_distinctions > 0%}
                <li>{{ gettext('Ten projekt został wyróżniony przez studentów') }}. {{ gettext('Liczba wyróżnień to') }}: {{ project.user_distinctions }}<i class="fas fa-star icon-color-gold"></i>.</li>
              {% endif %}
              {% if project.admin_distinction > 0%}
                <li>{{ gettext('Ten projekt został wyróżniony przez nauczyciela') }}<i class="fas fa-star icon-color-gold"></i>.</li>
              {% endif %}
             </div>

            <!--Comments-->
            <div id="accordion">
              <!--First card-->
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne-{{ project.id }}" aria-expanded="false" aria-controls="collapseOne">
                      {{ gettext('Komentarze od nauczyciela') }}
                      <i class="fa fa-lg" aria-hidden="true"></i>
                      {% if group.rating_status == 'ended_improvement' %}
                        {% for comment in project.comments if comment.author.is_admin and comment.second_iteration %}
                          <span class="badge badge-pill badge-info">{{ gettext('Nowy') }}</span>
                        {% endfor %}
                      {% endif %}
                    </button>
                  </h5>
                </div>

                <div id="collapseOne-{{ project.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">

                    {% if group.rating_status == 'ended_improvement' %}
                      {% for comment in project.comments %}
                        {% if comment.author.is_admin and comment.second_iteration %}
                          <div class="card mb-2">
                            <div class="card-header">
                              {{ gettext('Komentarz do poprawionej pracy') }}
                            </div>
                            <div class="card-body">
                              <li> {{ comment.comment_wish }} </li>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                    <div class="card mb-2">
                      <div class="card-header">
                        {{ gettext('Pozytywne cechy pracy') }}
                      </div>
                      <div class="card-body">
                        {% for comment in project.comments %}
                          {% if comment.author.is_admin and not comment.second_iteration %}
                            <li> {{ comment.comment_star_1 }} </li>
                            <li> {{ comment.comment_star_2 }} </li>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header">
                        {{ gettext('Rzecz, którą można poprawić') }}
                      </div>
                      <div class="card-body">
                        {% for comment in project.comments %}
                          {% if comment.author.is_admin and not comment.second_iteration %}
                            <li> {{ comment.comment_wish }} </li>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Second card-->
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo-{{ project.id }}" aria-expanded="false" aria-controls="collapseTwo">
                      Komentarze od studentów
                      <i class="fa fa-lg" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo-{{ project.id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <div class="card mb-2">
                      <div class="card-header">
                        {{ gettext('Pozytywne cechy pracy') }}
                      </div>
                      <div class="card-body">
                        {% for comment in project.comments %}
                          {% if not comment.author.is_admin %}
                            <li> {{ comment.comment_star_1 }} </li>
                            <li> {{ comment.comment_star_2 }} </li>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                        {{ gettext('Rzeczy, które można poprawić') }}
                      </div>
                      <div class="card-body">
                        {% for comment in project.comments %}
                          {% if not comment.author.is_admin %}
                            <li> {{ comment.comment_wish }} </li>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
      </div>

    {% else %}
        {% if current_user.is_admin %}
            {{ gettext('Projekt nie istnieje.') }}
        {% else %}
            {{ gettext('Nie udostępniono jeszcze projektu. Aby to zrobić kliknij') }} <a href="{{ url_for('users.project') }}">{{ gettext('tutaj') }}</a>.
        {% endif %}
    {% endif %}


{% endblock content %}
