{% extends "layout_user.html" %}
{% block content %}
    {% if group.rating_status == 'disabled' or  group.rating_status == 'disabled_improvement' %}
        <div class="jumbotron">
          <p class="lead">{{ gettext('Możliwość oceniania jest w tym momencie wyłączona.') }}</p>
        </div>
    {% elif group.rating_status == 'ended' or  group.rating_status == 'ended_improvement' %}
        <div class="jumbotron">
          <p class="lead">{{ gettext('Ocenianie zostało zakończone. Możesz zobaczyć') }} <a href="{{ url_for('main.results') }}">{{ gettext('wyniki') }}</a>.</p>
        </div>
    {% elif group.rating_status == 'enabled' and current_user.did_rate %}
        <div class="jumbotron">
          <p class="lead">{{ gettext('Projekty zostały przez ciebie ocenione. Kiedy ocenianie się zakończy będzie można zobaczyć wyniki w zakładce') }} <a href="{{ url_for('main.results') }}">{{ gettext('wyniki końcowe') }}</a>.</p>
        </div>
    {% elif group.rating_status == 'enabled_improvement' %}
        <div class="jumbotron">
          <p class="lead">{{ gettext('Trwa ocenianie poprawionych projektów przez nauczyciela. Kiedy ocenianie się zakończy będzie można zobaczyć wyniki w zakładce') }} <a href="{{ url_for('main.results') }}">{{ gettext('wyniki końcowe') }}</a>.</p>
        </div>
    {% elif group.rating_status == 'enabled' and not current_user.did_rate %}
        <div class="jumbotron">
          {% if current_user.rating_type == "pool_per_project" %}
            <p class="lead">{{ gettext('Oceń projekty przydzielając każdemu z nich punkty od 1 do') }} <b>{{ group.points_per_project }}</b>.</p>
            <p class="lead">{{ gettext('Jeśli któryś z projektów zasługuje według ciebie na dodatkowe wyróżnienie, to możesz go wyróżnić klikając w gwiazdkę') }}. {{ gettext(' Możesz przyznać maksymalnie 2 wyróżnienia') }}.</p>
          {% else %}
            <p class="lead">{{ gettext('Całkowita liczba punktów do rozdania wynosi') }} <b id="points_to_give">{{ group.points_per_user }}</b>. {{ gettext('Oznacza to, że możesz je rozdać dowolnie w taki sposób, aby suma punktów przyznanych dla wszystkich projektów była równa') }} <b>{{ group.points_per_user }}</b>.</p>
          {% endif %}
        <p class="lead">{{ gettext('Zostaw odpowiednie komentarze pod każdym z projektów') }}. {{ gettext('Wszystkie pola muszą zostać uzupełnione') }}.</p>
        </div>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            {% for project in group_projects %}
                <div class="card mb-3 mx-auto" style="max-width: 720px;">
                  <div class="row no-gutters">
                    <div class="col-md-4 border-bottom">
                        <a href="{{ url_for('static', filename='projects/' + project.upload_file) }} " target="_blank">
                            {% set extension = project.upload_file.split('.') %}
                            {% if extension[1] == 'pdf' %}
                                <img src="{{ url_for('static', filename='default_pdf_icon.png') }}" class="card-img" alt="PDF">
                            {% else %}
                                <img src="{{ url_for('static', filename='projects/' + project.upload_file) }}" class="card-img" alt="Grafika">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-8 border-left border-bottom">
                      <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        {% if project.optional_link %}
                            <p class="blockquote-footer mt-5"><a class="text-secondary" href="{{ project.optional_link }}" target="_blank" title="{{ project.optional_link }}">{{ gettext('Dodatkowy załącznik') }}<i class="fa fa-external-link fa-lg text-info ml-1"></i></a> </p>
                        {% endif %}

                        {{ form.all_points[loop.index0].hidden_tag() }}

                        {% if form.all_points[loop.index0].points.errors %}
                            <div class="form-group mb-0 mt-3">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend input-group-sm">
                                        {{ form.all_points[loop.index0].points.label(class="input-group-text") }}
                                        {{ form.all_points[loop.index0].points(class="form-control form-control-lg is-invalid") }}
                                    </div>
                                </div>

                                <div class="invalid-feedback d-block">
                                    {% for error in form.all_points[loop.index0].points.errors %}
                                        <span class="d-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group custom-card-footer-points mt-3">
                                <div class="input-group input-group-sm">
                                        <div class="input-group-prepend input-group-sm">
                                            {{ form.all_points[loop.index0].points.label(class="input-group-text") }}
                                            {{ form.all_points[loop.index0].points(class="form-control", onfocus="clear_if_zero(this)") }}
                                        </div>
                                </div>
                            </div>
                        {% endif %}


                        {% if current_user.rating_type == 'pool_per_project' %}
                            {% if form.all_points[loop.index0].distinction.errors %}
                                <div class="form-group mb-0 mt-3">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group input-group-sm mt-3">
                                            {{ form.all_points[loop.index0].distinction.label(class="form-check-label") }}
                                            {{ form.all_points[loop.index0].distinction(class="form-check-input") }}
                                        </div>
                                    </div>

                                    <div class="invalid-feedback d-block">
                                        {% for error in form.all_points[loop.index0].distinction.errors %}
                                            <span class="d-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="input-group input-group-sm mt-3">
                                    <span class="distinctChkBox">
                                        {{ form.all_points[loop.index0].distinction(class="form-check-input") }}
                                        {{ form.all_points[loop.index0].distinction.label(class="form-check-label") }}
                                    </span>
                                </div>
                            {% endif %}
                        {% endif %}

                      </div>
                    </div>
                  </div>

                  <!--comments-->
                  <div class="card border-0">
                      <ul class="list-group">
                        <li class="list-group-item border-left-0 border-right-0">
                            <div class="form-group">
                                {{ form.all_points[loop.index0].comment_star_1.label(class="form-control-label comment-icon-star-1") }}

                                {% if form.all_points[loop.index0].comment_star_1.errors %}
                                    {{ form.all_points[loop.index0].comment_star_1(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.all_points[loop.index0].comment_star_1.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.all_points[loop.index0].comment_star_1(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </li>

                        <li class="list-group-item border-left-0 border-right-0">
                            <div class="form-group">
                                {{ form.all_points[loop.index0].comment_star_2.label(class="form-control-label comment-icon-star-2") }}

                                {% if form.all_points[loop.index0].comment_star_2.errors %}
                                    {{ form.all_points[loop.index0].comment_star_2(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.all_points[loop.index0].comment_star_2.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.all_points[loop.index0].comment_star_2(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </li>

                        <li class="list-group-item border-left-0 border-right-0">
                            <div class="form-group">
                                {{ form.all_points[loop.index0].comment_wish.label(class="form-control-label comment-icon-wish") }}

                                {% if form.all_points[loop.index0].comment_wish.errors %}
                                    {{ form.all_points[loop.index0].comment_wish(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.all_points[loop.index0].comment_wish.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.all_points[loop.index0].comment_wish(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </li>
                      </ul>
                  </div>

                </div>

            {% endfor %}

            <div class="sum text-center">
                <output class="output-text"></output>
                <output class="result"></output>
            </div>

            {{ form.submit(class="btn btn-info btn-block mb-1") }}



        </form>

    {% endif %}

{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type=text/javascript>

      {% if current_user.rating_type != 'pool_per_project' %}
        var points_to_give = $('#points_to_give').text();
        points_to_give = parseInt(points_to_give, 10)
        $('.form-group').on('input', '.form-control', function(){
            var totalSum = 0;
            var difference = 0;
            $('.form-group .form-control').each(function(){
                var inputVal = $(this).val();

                if($.isNumeric(inputVal)){
                    if (inputVal < 0){
                        inputVal = 0;
                    }
                    totalSum += parseInt(inputVal);
                    difference = points_to_give - totalSum
                }
            });
            if(!$.isNumeric(difference))
            {
                $('.output-text').text('')
                $('.result').html('')
            }

            else if (difference > 0)
            {
                $('.output-text').html("<p class='text-warning'>{{ gettext('Pozostałe punkty do rozdania:') }} </p>")
                $('.result').html('<b>'+difference+'</b>')
            }
            else if (difference < 0)
            {
                $('.output-text').html("<p class='text-danger'>{{ gettext('Przydzielono o') }} " + '<b>' + Math.abs(difference) + '</b>' + " {{ gettext('pkt. za dużo') }}</p>")
                $('.result').text('')
            }
            else if (difference == 0)
            {
                $('.output-text').html("<p class='text-success'></p>")
                $('.result').text('')
            }
            else
            {
                $('.output-text').text('')
                $('.result').html('')
            }
        });

        if ($(window).width() >= 768) {
            $(window).scroll(function(){
              $("#user-menu").css({"margin-top": ($(window).scrollTop()) + "px", "margin-left":($(window).scrollLeft()) + "px"});
            });
        }

      {% endif %}

      function clear_if_zero(input) {
          if (input.value <= 0 )
          {
              input.value = ''
          }
      }

    </script>

{% endblock scripts%}